---
import { author } from "@data/socials";
const currentYear = new Date().getFullYear();
---

<footer class="w-full mt-auto py-8 border-t border-[rgb(var(--nav-border))] bg-[rgb(var(--background))]">
  <div class="container mx-auto px-4">
    <div class="text-center">
      <p class="text-[rgb(var(--text-primary))]">
        &copy; {currentYear} {author}. All rights reserved.
      </p>
    </div>
  </div>
</footer>
